  @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

.footer {
  margin: 0 auto;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.heading {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 500;
  font-size: larger;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading span {
  margin-left: 10px;
}